<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:DatadogLogs" value="Serilog.Sinks.DataDog.Logs" />
    <add key="serilog:write-to:DatadogLogs.tags" value="env:dev,site:demo" />
    <add key="serilog:write-to:DatadogLogs.apiKey" value="8779de0b4aa839595e3c19aab880d2f3" />
  </appSettings>
</configuration>